<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12">
        <v-row>
            <CitiesList v-for="(city, index) in cities" :key="index" :list="city" :no="index" />
        </v-row>
      </v-col>
    </v-row>

    <v-row class="justify-center" v-if="countCities < 20">
      <v-col cols="2">
        <v-combobox
            v-model="output"
            @change="handleEvent2"
            :items="cityList"
            color="black"
            label="City"
            placeholder="Key in or select city"
        ></v-combobox>
      </v-col>
      <v-col cols="2">
        <v-btn v-show="!isShow" @click="addCity(output)" color="primary" dark>Add</v-btn>
        <v-btn v-show="isShow" disabled>Add</v-btn>
      </v-col>
    </v-row>
    <v-row class="justify-center" v-else>
      <v-icon slot="icon" color="warning" size="40">
        mdi-alert-box-outline
      </v-icon>
      <span class="pt-2">Have reached maximum 20 Cities</span>
    </v-row>
  </v-container>
</template>

<script>
  import CitiesList from '@/components/CitiesList';
  import { mapState } from 'vuex';
  import { mapGetters } from 'vuex';

  export default {
    name: 'Home',
    data() {
      return {
        output: '',
        isShow: true
      }
    },
    components: {
      CitiesList
    },
    computed: {
      ...mapState([
        'cities',
        'cityList'
      ]),
      ...mapGetters([
        'countCities'
      ])
    },
    methods: {
      loadData() {
        this.$store.dispatch('getCity')
        this.$store.dispatch('getCityList')
      },
      syncData() {
        this.$store.dispatch('syncCity')
      },
      handleEvent2(value) {
        if(value) {
          this.isShow = false;
        }
        else {
          this.isShow = true;
        }
      },
      addCity(value) {
        this.$store.dispatch('addCity', value);
        this.$swal({
          title: 'Added!',
          text: 'Added new city successfully',
          icon: 'success',
          showConfirmButton: false,
          timer: 2000
        });
        this.output = '';
        this.isShow = true;
      }
    },
    created() {
      this.loadData();
      setInterval(this.syncData, 60000)
    },
  };
</script>