<template>
    <v-card
        class="ma-3 boxOuter"
        outlined
        tile
        @mouseover="showBtn = true"
        @mouseleave="showBtn = false"
        v-bind:class="{ boxOuterHover: showBtn }"
        >
        <div class="pl-6 pr-6 text-center">
            <div>
                <h2>{{ list.city }}</h2>
            </div>
            <v-col>
                <v-img
                    :src="list.weather_icon"
                    alt="Icon"
                    width="126"
                    height="126"
                ></v-img>
            </v-col>
            <div style="font-size: 36px;">
                {{ list.temperature }}&#176;
            </div>
            <v-row class="justify-center">
                <v-col class="text-right pt-0">
                    {{ list.min_temperature }}&#176;
                </v-col>
                <v-col class="text-left pt-0">
                    {{ list.max_temperature }}&#176;
                </v-col>
            </v-row>
            <div style="font-size: 20px;">
                {{ list.weather_description }}
            </div>
        </div>
        <v-btn v-show="showBtn" @click="remove(list.id, list.city)" class="cstButton" color="error" dark>Remove</v-btn>
    </v-card>
</template>

<script>
    export default {
        name: 'CitiesList',
        data() {
            return {
                showBtn: false,
            };
        },
        props: [
            'list',
            'no'
        ],
        methods: {
            async remove(id, city) {
                this.$swal({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {
                    if (result.value) {
                        this.$store.dispatch('removeCity', id);
                        this.$swal({
                            title: 'Removed!',
                            text: city + ' has been removed.',
                            icon: 'success',
                            showConfirmButton: false,
                            timer: 2000
                        })
                    }
                });
            }
        }
    };
</script>

<style scoped>
    .boxOuter {
        background-color: #E6E6FA !important;
        border-radius: 20px;
        width: 200px;
    }
    .boxOuterHover {
        background: rgba(0, 0, 0, .3) !important;
        transition: background 0.5s ease;
    }
    .cstButton {
        position: absolute !important;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
    }
</style>